@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-blue-1: 210 100% 99%;
    --brand-blue-2: 213 100% 97%;
    --brand-blue-3: 213 100% 94%;
    --brand-blue-4: 213 100% 91%;
    --brand-blue-5: 213 100% 87%;
    --brand-blue-6: 213 100% 82%;
    --brand-blue-7: 213 100% 76%;
    --brand-blue-8: 213 100% 71%;
    --brand-blue-9: 220 54% 36%;
    --brand-blue-10: 224 63% 30%;
    --brand-blue-11: 224 64% 53%;
    --brand-blue-12: 227 65% 27%;

    --brand-gold-1: 47 39% 98%;
    --brand-gold-2: 47 55% 96%;
    --brand-gold-3: 45 70% 90%;
    --brand-gold-4: 44 67% 87%;
    --brand-gold-5: 43 66% 82%;
    --brand-gold-6: 43 60% 75%;
    --brand-gold-7: 42 47% 69%;
    --brand-gold-8: 42 39% 61%;
    --brand-gold-9: 42 28% 50%;
    --brand-gold-10: 42 27% 45%;
    --brand-gold-11: 41 35% 37%;
    --brand-gold-12: 42 36% 18%;

    --brand-gray-1: 224 85% 98%;
    --brand-gray-2: 229 80% 97%;
    --brand-gray-3: 226 46% 94%;
    --brand-gray-4: 226 37% 92%;
    --brand-gray-5: 226 29% 89%;
    --brand-gray-6: 226 26% 86%;
    --brand-gray-7: 225 22% 81%;
    --brand-gray-8: 225 18% 74%;
    --brand-gray-9: 228 12% 58%;
    --brand-gray-10: 228 11% 54%;
    --brand-gray-11: 229 12% 42%;
    --brand-gray-12: 229 20% 14%;

    --app-background: 235 57% 5%;
    --app-foreground: var(--brand-gray-8);
    --app-surface: var(--brand-gray-12) / 0.4;
    --app-surface-solid: 232 35% 8%;

    --border: var(--brand-gray-12);
    --border-hover: var(--brand-gray-11);

    --radius: 6px;
  }

  * {
    @apply border-border;

    &::selection {
      @apply bg-brand-gold-9 text-brand-blue-12;
    }
  }

  body {
    @apply bg-app-background text-app-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
