@import "tailwindcss";
@import "./animations.css";
@import "./colors.css";
@import "./data-attributes.css";
@import "./shadows.css";
@import "./utilities.css";
@import "leaflet/dist/leaflet.css";

/* General styles */
* {
  &::selection {
    @apply bg-brand-gold-9 text-brand-gray-12;
  }
}

/* Leaflet popup styles */
.leaflet-container {
  .leaflet-pane {
    @apply z-auto;
  }

  a:not(.leaflet-control-zoom-in, .leaflet-control-zoom-out) {
    @apply text-inherit;
  }

  .leaflet-popup {
    div.leaflet-popup-content-wrapper {
      @apply p-4 w-56 bg-app-surface text-app-foreground rounded;

      .leaflet-popup-content {
        @apply m-0;
      }
    }

    div.leaflet-popup-tip-container {
      @apply mt-0;

      .leaflet-popup-tip {
        @apply bg-app-surface;
      }
    }

    a.leaflet-popup-close-button {
      @apply text-app-foreground;
    }
  }
}
