@import "tailwindcss";
@import "./animations.css";
@import "./colors.css";
@import "./data-attributes.css";
@import "./shadows.css";
@import "./utilities.css";

* {
  &::selection {
    @apply bg-brand-gold-9 text-brand-blue-12;
  }
}
