/*@theme {
  --radius: 6px;

  --radius-xs: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 6px);
  --radius-3xl: calc(var(--radius) + 8px);
  --radius-4xl: calc(var(--radius) + 10px);
}*/
