@theme {
  --radius: 6px;

  --radius-xs: calc(var(--radius) - 4px); /* 2px */
  --radius-sm: calc(var(--radius) - 2px); /* 4px */
  --radius-md: var(--radius); /* 6px */
  --radius-lg: calc(var(--radius) + 2px); /* 8px */
  --radius-xl: calc(var(--radius) + 4px); /* 10px */
  --radius-2xl: calc(var(--radius) + 6px); /* 12px */
  --radius-3xl: calc(var(--radius) + 8px); /* 14px */
  --radius-4xl: calc(var(--radius) + 10px); /* 16px */
}
